#container-footer {
    max-width: 100%;
    min-height: 60px;
    overflow: hidden;
    display: flex;
    background-color: rgb(248, 250, 248);
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 32px;
    margin-right: 32px;
}

.footer-policy {
    display: flex;
    flex-direction: row;
    gap:20px;
}

.footer-social {
    display: flex;
    flex-direction: row;
    gap:10px;
}


.footer-policy__item::before{
    content: "/";
    position:relative;
    left: 285px;
    margin-top: 12px;
    transform: translateY(-50%);
}


.footer-copyright {
    font-weight: 400;
    font-family: var(--font-family-base);
    font-size: 18px;
    line-height: 21px;
    color: #212529;
}

.footer__social_link::after {
    position: relative;
    content: '';
    left: 0;
    bottom: 0;
    display: block;
    width: 0;
    height: 1px;
    background: #000;
    transition: 0.3s;
}

.footer__social_link:hover::after {
    width: 100%;
}

.footer__text__link__policy {
    text-decoration: none;
    position: relative;
    font-weight: 400;
    font-family: var(--font-family-base);
    font-size: 18px;
    line-height: 21px;
    color: #212529;
}

.footer__text__link__policy::after {
    position: relative;
    content: '';
    left: 0;
    bottom: 0;
    display: block;
    width: 0;
    height: 1px;
    background: #000;
    transition: 0.3s;
}

.footer__text__link__policy:hover::after {
    width: 100%;
}

.footer__social a {
    text-decoration:none;
    font-weight: 400;
    font-family: var(--font-family-base);
    font-size: 18px;
    line-height: 21px;
    color: #212529;
}
