#containermain {
    width: 100%;
    min-height: 1107px;
    overflow: hidden;
    box-sizing: border-box;
    margin-right: 32px;
    margin-left: 32px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.imgliving {
    

}



.imagefirst {
    max-width: 100%;
    margin-top: 300px;
    margin-left: 30px;
}

.imagesecond {
    margin-top: 300px;
}

.order {
    position: absolute;
    color: #212529;
    font-family: var(--font-family-base);
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    max-width: 164px;
    min-height:23px;
    margin-left: 570px;
    margin-top: 230px;
}

.main-text {
    height: 270px;
    min-width: 730px;
}

.heading {
    height: 270px;
    min-width: 730px;
    font-family:var(--font-family-accent);
    font-weight: 400;
    color: #212529;
    text-transform: uppercase;
    line-height: 86.4px;
    font-size: 74px;
}

.intro__text {
    max-width: 445px;
    max-height: 44px;
    color: #212529;
    font-family: var(--font-family-base);
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    margin-top: 40px;
}



