#containermain {
    max-width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    margin-right: 32px;
    margin-left: 32px;
    margin-top: 30px;
}

.imagefirst {
    max-width:678px;
    max-height: 809px;
    margin-left: 700px;
    margin-top: 30px;
}

.imagesecond {
    max-width: 329px;
    max-height: 493px;
    margin-top: -500px;
    margin-left: -15px;
}

.order {
    color: #212529;
    font-family: var(--font-family-base);
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    max-width: 164px;
    max-height:23px;
    margin-left:1200px;
}

.main-text {
    max-width: 794px;
    align-items: left;
    text-align: left;
    font-family:var(--font-family-accent);
    font-weight: 400;
    color: #212529;
    text-transform: uppercase;
    line-height: 86.4px;
    font-size: 74px;
}

.introtext {
    max-width: 445px;
    max-height: 44px;
    margin-top: 15px;
    color: #212529;
    font-family: var(--font-family-base);
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
}
