@media (max-width:1440px){
#containerreviews {
    margin-left: 10px;
    margin-top:20px;

}

.reviews-card {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
}

.reviewscard {
    display: grid;
    align-items: stretch;
    grid-template-columns: repeat(auto-fit, minmax(min(21.25rem, 100%), 1fr));
}
.review-text {
    margin-left: 0px;
    margin-top: 32px;
}
}

@media (max-width:1070px) {
.reviews { 
    font-family: var(--font-family-accent);
    font-weight: 400;
    font-size: 26px;
    line-height: 35px;
    color:#212529;}
}
