@media (max-width:320px){
.header {
    max-width: 343px;
    max-height: 41px;
    margin-top: 8px;
    margin-left: 0px;
}

.phone__text {
    display: none;
}

.nav__list {
    display: none;
}

#containermain {
    max-width: 344px;
    min-height: 532px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.order {
    position:absolute;
    max-width: 164px;
    max-height: 23px;
    margin-left: 0px;
    margin-bottom: 12px;
}

.main-text {
    max-width: 343px;
    max-height: 200px;
}

.heading {
    line-height: 120%;
    text-transform: uppercase;
    color: #212529;
    font-family:var(--font-family-accent);
    font-size:30px;
    margin-right: 100px;
}

.intro__text {
    color: #212529;
    font-family: var(--font-family-base);
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}
}