@media (max-width:1440px){
    .reviews-card {
        text-align: center;
        display: flex;
        align-items: center;
        flex-direction: column;
}

.reviewscard {
    display: grid;
    align-items: stretch;
    grid-template-columns: repeat(auto-fit, minmax(min(21.25rem, 100%), 1fr));
}
.review-text {
    margin-left: 0px;
    margin-top: 32px;
}
}