#containerreviews {
    max-width: 100%;
    min-height: 425px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin-top: 120px;
    margin-left: 32px;
    margin-right: 32px;
}

.reviews {
    max-width:562px;
    max-height: 66px;
    font-family: var(--font-family-accent);
    font-weight: 400;
    font-size: 48px;
    line-height: 66px;
    color:#212529;
}

.reviews-card1{
    border: 1px solid rgb(3, 3, 3);
    max-width: 445px;
    min-height: 327px;
    margin-top: 32px;
    margin-right: 100px;
    margin-bottom: -2px;
}

.reviews-card2{
    border: 1px solid rgb(3, 3, 3);
    max-width: 445px;
    min-height: 327px;
    margin-top: -328px;
    margin-left: 461px;
}

.reviews-card3{
    border: 1px solid rgb(3, 3, 3);
    max-width: 445px;
    min-height: 327px;
    margin-top: -328px;
    margin-left: 925px;
}

.reviews-card__icon{
    margin-top:40px;
    margin-right: 203px;
    margin-left: 203px;
}

.review-text {
    min-width:136px;
    min-height: 25px;
    margin-left: 155px;
    margin-top: 32px;
}

.reviews__text1{
    min-width: 365px;
    min-height: 110px;
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
    text-align: center;
    font-family: var(--font-family-base);
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color:#212529;
}

.reviews__text2{
    min-width: 365px;
    min-height: 110px;
    margin-top: 20px;
    margin-left: 38px;
    margin-right: 38px;
    text-align: center;
    font-family: var(--font-family-base);
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color:#212529;
}

.reviews__text3{
    min-width: 365px;
    min-height: 81px;
    margin-top: 20px;
    margin-right: 40px;
    margin-left: 40px;
    text-align: center;
    font-family: var(--font-family-base);
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color:#212529;
}