#containerreviews {
    max-width: 100%;
    overflow: hidden;
    margin-inline:auto;
    margin-top: 50px;
    margin-left: 32px;
}

.reviews {
    font-family: var(--font-family-accent);
    font-weight: 400;
    font-size: 48px;
    line-height: 66px;
    color:#212529;
}

.reviewscards {
    display: grid;
    align-items: stretch;
    grid-template-columns: repeat(auto-fit, minmax(min(21.25rem, 100%), 1fr));
    gap:1rem;
    padding-right:10px;
}

.reviews-card{
    border: 1px solid rgb(3, 3, 3);
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
}

.reviews-card__icon{
    margin-top:40px;
    margin-right: 203px;
    margin-left: 203px;
}

.review-text {
    margin-top: 32px;
}

.reviews__text{
    margin-top: 20px;
    text-align: center;
    font-family: var(--font-family-base);
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color:#212529;
}
