@import url('./css/fonts.css');
@import url('./css/null.css');
@import url('./css/header.css');
@import url('./css/maincontent.css');
@import url('./css/aboutcompany.css');
@import url('./css/howcopanyworks.css');
@import url('./css/projects.css');
@import url('./css/reviews.css');
@import url('./css/order.css');
@import url('./css/footer.css');
:root {
  --font-family-base:'Roboto', sans-serif;
  --font-family-accent:'Helvetica', sans-serif;
  --input-height: 58px;
  --container-width:1440px;
  --container-padding-x: 15px;
  --transition-duration: 0.2s;
}

.container {
  margin-inline: auto;
  max-width:1440px;
}

@media (max-width:1230px){
  #container__aboutcompany{
    max-width:970px;
  }
}

@media (max-width:992px){
  #container__aboutcompany{
    max-width:750px;
  }
}

@media (max-width:767px){
  #container__aboutcompany{
    max-width:none;
  }
}

body {
  font-family: var(--font-family-base);
  min-height: 100%;
  line-height: 1.5;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}


