@font-face {
  font-family:'Helvetica';
  src: url('./fonts/Helvetica-Bold.woff2') format('woff2 ');
  font-weight: 400px;
  font-style: normal;
  font-display: swap;
  } 
  @font-face {
  font-family:'Roboto';
  src: url('./fonts/Roboto-Regular.woff2') format('woff2 ');
  font-weight: 400px;
  font-style: normal;
  font-display: swap;
  }
  :root {
  --font-family-base:'Roboto', sans-serif;
  --font-family-accent:'Helvetica', sans-serif;
  --input-height: 58px;
  --container-width:1376px;
  --container-padding-x: 15px;
  --transition-duration: 0.2s;
  }
  ::before,
  ::after {
  box-sizing: border-box;
  }
  :where(ul, ol):where([class]) {
  padding-left: 0;
  }
  body,
  :where(blockquote, figure):where([class]) {
  margin: 0;
  }
  :where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
  }
  :where(dd[class]) {
  margin-left: 0;
  }
  :where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
  }
  :where(ul[class]) {
  list-style: none;
  }
  :where(address[class]) {
  font-style: normal;
  }
  p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
  }
  p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
  }
  img {
  display: block;
    max-width: 100%;
  }
  input,textarea,select,button {
  font: inherit;
  }
  html {
  height: 100%;
  }
  html,
  :has(:target) {
    scroll-behavior: smooth;
  }
  body {
  font-family: var(--font-family-base);
  min-height: 100%;
  line-height: 1.5;
  }
  svg *[fill] { fill: currentColor }
  svg *[stroke] { stroke: currentColor }
  svg * {
  transition-property: fill, stroke;
  }
  .header {position: relative;
  width: 1376px;
  height: 120px;
  margin-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto; 
  margin-right: auto;
  max-width: 1200px;
  display: flex;
  justify-content: flex-end;
  column-gap: 20px;
}
.container {
  margin-left: auto; 
  margin-right: auto; 
  width: 1376px; 
  padding-left: 20px;
  padding-right: 20px;
  border: 2px solid rgb(255, 30, 0);
  position: relative;
  overflow: hidden;
  padding: 10px;
}
#container1 {
  width: 1376px; 
  height: 120px;
}
h1,h2,h3 {
  font-weight: 400;
  text-transform: uppercase;
}
.header-logo-image {
  position:  absolute;
  flex-direction: column;
  top: 0px;
  left: 0px;
  height: auto;
}
.nav { 
  width: 98px;
  height: 108px; 
  left: 180px;
  flex-direction: column; 
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  display: flex;
  margin-left: 640px;
  text-align: left;
  padding: 0;
  position: absolute;
  font-weight: 400;
  font-size: 18px;
  color: #212529;
}
.phone{
  width: 130px;
  position: absolute;
  flex-direction: column-reverse;
  text-align: right;
  display: block; 
  color: rgb(0, 0, 0); 
  text-decoration: none;
}
.container {
  margin-inline: auto;
  max-width: calc(var(--container-width)+ var(--container-padding-x) *2);
  padding-inline: var(--container-padding-x);
}
.nav__list {
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-decoration: none;
}
.nav__link {
  color: black;
  text-decoration: none;
  position: relative;
}
.nav__link::after{
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  display: block;
  width: 0;
  height: 1px;
  background: #000;
  transition: 0.3s;
}
.nav__link:hover::after{
  width: 100%;
}
.logotext {
  position: absolute;
}
#container2 {
  width: 1300px;
  height: 1000px;
  position: relative;
  overflow: hidden;
  padding: 10px;
  margin-top: 60px;  
}
.draggable {position: absolute;}
#image1 { 
  width: 670px; 
  height: 800px;
  position: absolute; 
  left: 650px;
  top: 250px;
}
#image2 {
  position:relative;
  width: 329px;
  height: 493px;
  top:180px;
  right: 10px;
}
.xx {
  position: relative;
  padding: 50px;
  top: -150px;
  color: #212529;
  left: 1125px;
  font-size: 20px; 
  font-family: "Roboto"; 
  font-weight: 400;
}
.main-text {
  width: 794px; 
  height: 250px;
  justify-content: center;
  position: relative;
  align-items: center;
  font: 90px/70px 'Helvetica';
  right: 10px;
  top: -10px;
}
.intro__text{
  width:445px ; 
  height: 91px;
  position: relative;
  font-size: 20px;
  top: 45px;
  right:10px;
}
#container3{
  width: 1376px;
  height: 589px ;
  position: relative;
  overflow: hidden;
  top: 150px;
}
.about-text {
  position: absolute;
  width: 562px; 
  height:198px;
  top: -1px;
  left: -1px;
}
.about-inner{
  position:relative; 
  background-color: aqua;
  width: 679px; 
  height: 208px;
  left: 647px;
  top: -130px;
}
.benefits{
  position: absolute;
  width: 678px; 
  height: 320px;
  display: flex; 
  flex-direction: column;
  top:285px; 
  left: 647px; 
  gap: 24px;
  justify-content: flex-start;
  align-items: flex-start;
}
.benefits__item{
  width: 146px; 
  height: 94px;
  justify-content: space-between;
}
#benefits{
  font-size: 36px;
}
#about-text{
  font-size: 16px;
}
.benefits__text{
  font-size: 16px;
}
.about-box-text{
  position: relative;
  line-height: 22.4px; 
  display: flex; 
  flex-direction: column;
  gap: 16px;
}
.top-text{
  justify-content: center;
  position: relative;
  align-items: center;
  font: 48px 'Helvetica';
}
#container4{
  min-width: 1376px;
  min-height: 980px ;
  position: relative;
  overflow: hidden;
  top: 150px;
  margin-top: 10px;
}
.text-work {
  position: relative;
  align-items: center;
  justify-content: center;
  width: 562px;
  height: 66px;
  font-size:  48px;
  top:-10px;
  right:15px
}
.algoritm {
  position: relative;
  font-size: 16px;
  width:325px ;
  height: 44px;
  left: 713px;
  top: -60px;
}
.steps__list {
  position: relative;
  line-height: 22.4px; 
  display: flex; 
  flex-direction: column;
  gap: 24px;
}
.steps__item-small {
  position: relative;
  width: 678px;
  height: 146px;
  left: 713px;
}
.text {
  position: relative;
  left:350px;
  width: 329px;
  height: 132px;
  font-size: 16px;
  top: -90px;
}
.steps__item-big {
  position: relative;
  width: 678px;
  height: 146px;
  left: 713px;
}
.circle {
  position: relative;
  font-size: 36px;
  font-family: 'Helvetica';
  font-weight: 400;
  line-height: 40px;
  width: 328px;
  height: 100px;
}
.line {
  position: relative;
  width: 678px;
  height: 0;
  border: 1px black solid;
  left:713px;
}